{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "jquery": true
    },
    "rules": {
        "no-console": 0,
        "no-else-return": 0,
        "no-underscore-dangle": [0],
        "max-len": 0,
        "no-plusplus": 0,
        "no-mixed-operators": 0,
        "import/prefer-default-export": "off"

    },
    "settings": {
        "import/resolver": {
            "babel-module": {}
        }
    }
}
